hiya
<%= @project.name %>
<div id="projects" class="list-group" >
  <% @users.each do |user| %>
    <%= link_to user.name , "#" , class: "list-group-item list-group-item-warning" %>
  <% end %>
</div>
