<p style="color: green"><%= notice %></p>
 <%= render partial: 'jumbotron', locals: { project: @project } %>
<br><br>
<div>
  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
